<!DOCTYPE html>
<html lang="fr">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mon application ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Ca$hFlow", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                                    <img src="~/Images/banner.png" /> <img src="~/Images/cashflow-rat.jpg" width = "350" height = "296"/>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Créer un projet", "NewProject", "Project")</li>
                            <li>@Html.ActionLink("Liste des projets", "ListeProject", "Project")</li>
                        </ul>
                        <div class="search-wrapper">
	                        <form action="@Url.Action("ListeProject","Search")">
	                            <input type="text" name="focus" id = "focus" required class="search-box" placeholder="Recherche" />
                                <input type="submit" value="" style="border-style: none; background: url('/../Images/Search.png') no-repeat; width: 50px; height: 50px;">
                                <select name="categorie">
                                    <option value="12">Toutes les catégories</option>
                                    <option value="0">Art</option>
                                    <option value="1">Jeux</option>
                                    <option value="2">Musique</option>
                                    <option value="3">Technologie</option>
                                    <option value="4">Sport</option>
                                    <option value="5">Film</option>
                                    <option value="6">Mode</option>
                                    <option value="7">Publications</option>
                                    <option value="8">Journalisme</option>
                                    <option value="9">Théatre</option>
                                    <option value="10">Alimentation</option>
                                    <option value="11">Transport</option>
                                </select>
	                        </form>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-right">
                    <ul id="menu">
                        <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>                                      
                </div>
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Mon application ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
