@model IEnumerable<CashFlow.Models.NewProject>
@{
    ViewBag.Title = "Liste des projets";
}

<h2>Voici la liste de tous les projets qui sont en cours de fiancement.</h2>

@for (int i = 0; i < Model.LongCount(); i++ )
{ 
    <h3>@Html.ActionLink(@Model.ElementAt(i).Titre, "ProjectComplet", "Project", Model.ElementAt(i),null)</h3>
    <ul>
        <li>Description : @Model.ElementAt(i).Description</li>
        <li>Montant reçu : @Model.ElementAt(i).MontantRecu $</li>
        <li>Montant requis : @Model.ElementAt(i).MontantRequis $</li>
        <li>Fin du projet : @Model.ElementAt(i).DateFin.Day @Model.ElementAt(i).DateFin.ToString("MMMM",System.Globalization.CultureInfo.CurrentCulture) @Model.ElementAt(i).DateFin.Year</li>
    </ul>

}