@using System.Linq
@using CashFlow.Models
@model Tuple<NewProject, ListeCommentaireModel, CommentaireModel>
@{
    ViewBag.Title = @Model.Item1.Titre;
}

<div id="information">
    <h2>@Model.Item1.Titre</h2>

    <h3>Créateur du projet : @Model.Item1.Createur</h3>
    <h3>Description : @Model.Item1.Description</h3>
    <h3>Type du projet : @Model.Item1.ListeCategories.ElementAt(Convert.ToInt32(@Model.Item1.Categorie)).Value </h3>
    <h3>Ville : @Model.Item1.ListeVille.ElementAt(Convert.ToInt32(@Model.Item1.Ville)).Value</h3>
    <h3>Montant reçu : @Model.Item1.MontantRecu $</h3>
    <h3>Montant requis : @Model.Item1.MontantRequis $</h3>
    <h3>Début du projet : Le @Model.Item1.DateDepart.ToString("dd/MM/yyyy HH:mm:ss")</h3>
    <h3>Fin du projet :  Le @Model.Item1.DateFin.ToString("dd/MM/yyyy HH:mm:ss")</h3><br /><br />
</div>

<div id="Commentaire">
    @foreach (var commentaire in Model.Item2)
    {
        <h3>@commentaire.Username le @commentaire.Date.ToString("dd/MM/yyyy HH:mm:ss") </h3>
        <br />
        <span>@commentaire.Commentaire</span>
        <hr />
    }
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Item3.Commentaire)<br />
        @Html.TextAreaFor(model => model.Item3.Commentaire)<br />
        @Html.ValidationMessageFor(model => model.Item3.Commentaire)<br />

        <button type="submit">Soummettre votre commentaire</button>
    }
</div>
