@model CashFlow.Models.NewProject
@{
    ViewBag.Title = @Model.Titre;
}

<h2>@Model.Titre</h2>

<h3>Créateur du projet : @Model.Createur</h3>
<h3>Description : @Model.Description</h3>
<h3>Type du projet : @Model.ListeCategories.ElementAt(Convert.ToInt32(@Model.Categorie)).Value </h3>
<h3>Ville : @Model.ListeVille.ElementAt(Convert.ToInt32(@Model.Ville)).Value</h3>
<h3>Montant reçu : @Model.MontantRecu $</h3>
<h3>Montant requis : @Model.MontantRequis $</h3>
<h3>Début du projet : Le @Model.DateDepart.Day @Model.DateDepart.ToString("MMMM", System.Globalization.CultureInfo.CurrentCulture) @Model.DateDepart.Year</h3>
<h3>Fin du projet :  Le @Model.DateFin.Day @Model.DateFin.ToString("MMMM", System.Globalization.CultureInfo.CurrentCulture) @Model.DateFin.Year</h3>
<br /><br />
<a class="twitter-hashtag-button"
   href="https://twitter.com/intent/tweet?button_hashtag=MyCashFlowProject"
   data-related="twitter">
    Tweet '#MyCashFlowProject'
</a>
