@model CashFlow.Models.NewProject
@{
    ViewBag.Title = @Model.Titre;
}

<div id="info-projet" style="float:left"></div>

<h2>@Model.Titre</h2>

<h3>Créateur du projet : @Model.Createur</h3>
<h3>Description : @Model.Description</h3>
<h3>Type du projet : @Model.ListeCategories.ElementAt(Convert.ToInt32(@Model.Categorie)).Value </h3>
<h3>Ville : @Model.ListeVille.ElementAt(Convert.ToInt32(@Model.Ville)).Value</h3>
<h3>Montant reçu : @Model.MontantRecu $</h3>
<h3>Montant requis : @Model.MontantRequis $</h3>
<h3>Début du projet : Le @Model.DateDepart.Day @Model.DateDepart.ToString("MMMM", System.Globalization.CultureInfo.CurrentCulture) @Model.DateDepart.Year</h3>
<h3>Fin du projet :  Le @Model.DateFin.Day @Model.DateFin.ToString("MMMM", System.Globalization.CultureInfo.CurrentCulture) @Model.DateFin.Year</h3>

<div />
<div id="div-paiement" style="float:right">
    @using (Html.BeginForm("ValidationCommande", "Paypal"))
    {
            <h3>Financer le projet</h3>
            <input type="hidden" name="TitreProjet" value="Don au projet @Model.Titre" />
            <input type="radio" name="Montant" value="5" checked = "checked"/> <p>5$</p> <br />
            <input type="radio" name="Montant" value="10"/> <p>10$</p> <br />
            <input type="radio" name="Montant" value="20"/> <p>20$</p> <br />
            <input type="radio" name="Montant" value="50"/> <p>50$</p> <br />
            <input type="radio" name="Montant" value="100"/> <p>100$</p> <br />
            <input type="radio" name="Montant" value="200"/> <p>200$</p> <br />
            <input type="radio" name="Montant" value="500"/> <p>500$</p> <br />
            <input type="radio" name="Montant" value="1000"/> <p>1000$</p> <br />
            <input type="radio" name="Montant" value="5000"/> <p>5000$</p> <br />
            <input type="radio" name="Montant" value="10000"/> <p>10000$</p> <br />
            <input type="submit" name="btnConfirm" value="Payer avec PayPal" />
    }

</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
    var handler = StripeCheckout.configure({
        key: 'pk_test_kWMZ4i3unFgBYwdXs1PEdAz9',
        image: '/Images/cashflow_logo.png',
        token: function (token) {
            // Use the token to create the charge with a server-side script.
            // You can access the token ID with `token.id`
        }
    });

    document.getElementById('bouton-paiement').addEventListener('click', function (e) {
        // Open Checkout with further options
        var montant = $('input[name="rbMontant"]:checked').val();
        handler.open({
            name: 'Faire une contribution',
            description: '@Model.Titre',
            amount: montant,
            email: '@@Membership.GetUser(User.Identity.Name).Email'
        });
        e.preventDefault();
    });    
</script>
