@model CashFlow.Models.NewProject
@{
    ViewBag.Title = @Model.Titre;
}

<h2>@Model.Titre</h2>

@if((Model.DateFin < DateTime.Now))
{
    TempData["Date"] = "Le projet est terminé.";
}
else
    if ((Model.DateFin - DateTime.Now).TotalDays > 1)
    {
        TempData["Date"] = ((int)(Model.DateFin - DateTime.Now).TotalDays).ToString() + " jours.";
    }
    else
        if ((Model.DateFin - DateTime.Now).TotalHours > 1)
        {
            TempData["Date"] = ((int)(Model.DateFin - DateTime.Now).TotalHours).ToString() + " heures " + ((int)(Model.DateFin - DateTime.Now).Minutes).ToString() + " minutes.";
        }
        else
        {
            TempData["Date"] = ((int)(Model.DateFin - DateTime.Now).TotalMinutes).ToString() + " minutes" + ((int)(Model.DateFin - DateTime.Now).Seconds).ToString() + " secondes.";
        }

<h3>Créateur du projet : @Model.Createur</h3>
<h3>Description : @Model.Description</h3>
<h3>Type du projet : @Model.ListeCategories.ElementAt(Convert.ToInt32(@Model.Categorie)).Value </h3>
<h3>Ville : @Model.ListeVille.ElementAt(Convert.ToInt32(@Model.Ville)).Value</h3>
<h3>Montant reçu : @Model.MontantRecu $</h3>
<h3>Montant requis : @Model.MontantRequis $</h3>
<h3>Début du projet : Le @Model.DateDepart.Day @Model.DateDepart.ToString("MMMM", System.Globalization.CultureInfo.CurrentCulture) @Model.DateDepart.Year</h3>
<h3>Fin du projet :  Le @Model.DateFin.Day @Model.DateFin.ToString("MMMM", System.Globalization.CultureInfo.CurrentCulture) @Model.DateFin.Year</h3>
<h3>Temps restant : @TempData["Date"]</h3>
